@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;700;800&display=swap');

body {
  font-family: 'Raleway', sans-serif !important;
  background-color: rgba(255, 255, 245, 0.549) !important;
}

.note_card__container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.form-textarea {
  background-color: rgba(219, 219, 219, 0.537);
  border: none;
  color: black;
  padding: 2rem;
  overflow-y: scroll;
}

.form-textarea:focus, .form-textarea:focus-visible {
  outline: transparent;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgba(219, 219, 219, 0.537);
  border-radius: 40px;
  padding: 0.5rem
}

.search input {
  border: none !important;
  background-color: transparent;
  width: 100%;
  color:#242424
}

.search input:hover, .search input:focus {
  outline: transparent;
}

.modal__backdrop {
  backdrop-filter: blur(5px) !important;
}
